<!-- <div class="sidebar">
    <section class="col-sm-12" id="rooms-section">
        <a href="#">
            Profile
        </a>
    </section>
    <section class="col-sm-12" id="rooms-section">
        <a href="#">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
        <span class="">Rooms </span>
    </section>
    <section class="col-sm-12" id="messages-section">
        <span>Messages </span>
        <a href="#">
            <span class="fa fa-plus-circle" aria-hidden="true"></span>
        </a>
    </section>
    <section class="col-sm-12" id="logout-section">
        <a href="#"> Logout</a>
    </section>
</div> -->


<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" ui-sref="profile">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Rooms</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ng-click="logout()">Logout</a>
    </li>
</ul>
