<div class="row navbar-default">
    <div class="col-sm-12 col-md-12 navbar-header">
        <a class="navbar-brand" ui-sref="menu">
            <div class="col-md-12 text-center" id="menu-navs">
                Menu
            </div>
        </a>
        <button type="button" class="navbar-toggle collapsed" id="collapse-btn" data-target="#room-list" data-toggle="collapse" ng-click="pushBody()">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="col-sm-12 col-md-12 sidebar-items nav navbar-nav collapse navbar-collapse" id="room-list" style="margin-top: 15%;">
        <h4>
            Rooms
        </h4>
        <div ng-repeat="room in rooms track by room.id">
            <ul class="nav flex-column">
                <li class="active">
                    <a class="nav-link" id="menu-navs" ng-click="loadRoom(room.id)">
                        <span ng-class="applyLocationMarker(room.id)" class="pull-right" aria-hidden="true"></span>
                        {{ room.name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>