<div class="container" id="menu-page">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="col-sm-2 col-md-3" style="margin-top: 1.5%;">
                <ul class="nav flex-column" id="menu-navs">
                    <li class="nav-item active">
                        <a class="nav-link" data-toggle="tab" href="#profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#picture">Change Picture</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#password">Change Password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#subscription">Subscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#search">Search Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#add">Add Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#private">Messages</a>
                    </li>
                    <li class="nav-item" ui-sref="rooms">
                        <a class="nav-link" ui-sref="rooms">Back to Rooms <i class="fa fa-reply pull-right"></i> </a>
                    </li>
                    <nav class="navbar-fixed-bottom">
                        <a class="btn btn-primary" ng-click="logout()">Logout</a>
                    </nav>
                </ul>
            </div>
            <div class="col-md-9 col-sm-10 tab-content">
                <div id="profile" class="tab-pane fade in active">
                    <profile></profile>
                </div>
                <div id="show_rooms" class="tab-pane">
                    content
                </div>
                <div id="picture" class="tab-pane">
                    <picture></picture>
                </div>
                <div id="password" class="tab-pane">
                    <password></password>
                </div>
                <div id="subscription" class="tab-pane">
                    <subscription></subscription>
                </div>
                <div id="search" class="tab-pane">
                    <search></search>
                </div>
                <div id="add" class="tab-pane">
                    <add></add>
                </div>
                <div id="private" class="tab-pane">
                    <private></private>
                </div>
            </div>
        </div>
    </div>
</div>