<div class="row" style="margin-top: 5%;">
    <div class="col-md-4 col-md-offset-4" id="register-account">
        <form name="AddRoomForm" data-ng-submit="addPublicRoom()" novalidate>
            <div class="form-group">
                <label>Room Name</label>
                <input type="text" name="name" class="form-control" data-ng-model="newRoom.name" required>
                <p data-ng-show="AddRoomForm.name.$pristine" class="help-block">A room name is required</p>
            </div>
            <div class="form-group">
                <label>Tag</label>
                <input type="text" name="tag" class="form-control" data-ng-model="newRoom.tag" required>
            </div>

            <p class="alert alert-danger hide" id="error-messages">{{ errorMessage }}</p>
            <button type="submit" class="btn btn-primary" data-ng-disabled="AddRoomForm.$invalid">Add Room</button>
            <button type="submit" class="btn btn-primary pull-right" ui-sref="rooms">Back</button>
        </form>
    </div>
</div>