<div class="container-fluid">
    <div class="row">
        <div ng-if="user.is_subscribed" class="col-md-12 col-sm-12">
            <h3 class="text-center">Add New Room</h3>
            <form name="AddRoomForm" data-ng-submit="addPublicRoom()" novalidate>
                <div class="form-group">
                    <label>Room Name</label>
                    <input type="text" name="name" class="form-control" data-ng-model="newRoom.name" required>
                    <p data-ng-show="AddRoomForm.name.$pristine" class="help-block">A room name is required</p>
                </div>
                <div class="form-group">
                    <label>Tag</label>
                    <input type="text" name="tag" class="form-control" data-ng-model="newRoom.tag" required>
                </div>

                <p class="alert alert-danger hide" id="error-messages">{{ errorMessage }}</p>
                <button type="submit" class="btn btn-primary pull-right" data-ng-disabled="AddRoomForm.$invalid">Add Room</button>
            </form>
        </div>
        <div ng-if="!user.is_subscribed" class="col-md-12 col-sm-12">
            <h4 class="text-center">A Subscription is required to perform this action.</h4>
            <subscription></subscription>
        </div>
    </div>
</div>