<div class="row">
    <div class="container-fluid">
        <div class="col-md-3 sidebar">
            <sidebar></sidebar>
        </div>
        <div class="col-md-9 col-md-offset-3" id="message-viewport" style="height: 85%;" scroll="onScroll">
            <div class="col-md-12">
                <div class="well" id="messages-content">
                    <div id="loading-display" class="text-center">
                        <a ng-click="loadRoom(roomId)" ng-if="!fetchingMessages">
                            <small>View Historic</small>
                        </a>
                        <a ng-show="fetchingMessages">Fetching <span class="fa fa-circle-o-notch fa-spin"></span></a>
                    </div>
                    <div class="panel panel-primary" ng-repeat="view_message in messages | orderBy: 'id' ">
                        <div class="media">
                            <div class="media-left media-middle">
                                <img ng-if="!view_message.user.profile_picture_path" class="mr-3" src="http://via.placeholder.com/64X64" />
                                <img id="image-thumbnail" ng-if="view_message.user.profile_picture_path" class="mr-3" id="image-thumbnail" ng-src="{{view_message.user.profile_picture_path}}"
                                    alt="Generic placeholder image" />
                            </div>
                            <div class="media-body">
                                <h6>
                                    <strong>{{view_message.user.username}}</strong>
                                    <small>{{view_message.date_added | date : "medium" }}</small>
                                </h6>
                                <p>{{ view_message.message }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-md-offset-3" id="message-section" style="margin-top: 5%;">
            <form class="form" name="MessageForm">
                <input type="text" id="message-input" class="form-control" placeholder="Enter Your Message" my-enter="sendMessage()" ng-model="inputMessage"
                />
            </form>
        </div>
    </div>
</div>