<div class="row" style="margin-top: 5%; overflow-y: hidden;">
    <div class="container-fluid">
        <div class="col-md-5 col-sm-12" id="home-image">
            <img class="img-responsive" style="margin-left: auto; margin-right: auto;" src="media/Friday.png" alt="Home Image" />
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="row">
                <div class="col-md-8 col-sm-12" id="home-description">
                    <h1 class="rock-face">
                        Welcome to the Chatrooms
                    </h1>
                    <p>
                        If talking about the time Valentino Rossi won his 5th GP world championship, sharing cooking recipes with like minded people
                        or walking and talking about some world famous hiking trails is your thing.. The chatrooms could
                        be the place for you.
                    </p>
                    <p>
                        Share stories, trade insults, enjoy the lols and bants.. The chatrooms could be the place for you!
                    </p>
                </div>
                <div class="col-md-8 col-sm-12 pull-left" id="home-account" style="margin-top: 3%;">
                    <form name="AccountForm" data-ng-submit="userLogin()" novalidate>
                        <div class="form-group">
                            <label for="user.username">Email</label>
                            <input type="text" class="form-control" ng-model="user.username" aria-describedby="emailHelp" />
                        </div>
                        <div class="form-group">
                            <label for="user.password">Password</label>
                            <input type="text" class="form-control" ng-model="user.password" aria-describedby="passwordHelp" />
                            <small>Trouble signing in?
                                <a ui-sref="reset">reset your password</a>
                            </small>
                        </div>
                        <p class="alert alert-danger hide" id="error-messages">{{ errorMessage }}</p>
                        <button class="btn btn-default">Sign In</button>

                    </form>
                    <p>
                        <small>Don't have an account?
                            <a ui-sref="register">Why not sign up</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>