html, body, .container-fluid, .row {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.ng-invalid {
    color: red;
}

#cropping-area{
    border-radius: 50%;
    border-color: 1px #2c3e50 solid !important;
}

#image-thumbnail{
    width:64px;
    height: 64px;
    border-radius: 50%;
}

#profile-image{
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    width: 70%;
    border: 1px solid #2c3e50 !important;
    border-radius: 50%;
}

.sidebar {
    background: #2c3e50;
    color: #fff;
    font-size: 1.1em;    
    line-height: 1em;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-top: 1%;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
}

.sidebar li {
    width: 100%;
    border-bottom: 1px solid #636366;
}

#room-list li {
    border-bottom: none;
    list-style: none;
    font-size: 1.1em;    
    line-height: .7em;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-top: 1%;
}

#message-viewport{
    overflow-y: scroll;
}

#message-section {
    position: fixed;
    bottom: 4%;
}

#message-input{
    width: 80%;
    margin-left: 17%;
}
