html, body, .container-fluid, .row {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    overflow-x: hidden;
}
a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 20px
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    background: #FFA500; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF; 
}


  
  @media (min-width: 992px) {
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 1000;
      display: block;
      background-color: #CCCCCC;
    }
  }

  #profile-button{
      height:5%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;

  }

#cropping-area{
    border-radius: 50%;
    border-color: 1px #FFFFFF solid !important;
}

#image-thumbnail{
    width:64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid #FFA500;
    margin-left: 1%;
}

#profile-image{
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    width: 70%;
    border: 1px solid #FFFFFF !important;
    border-radius: 50%;
}

#sidebar-items > div > div {    
    text-align: left;
    display: block;
    display: block;
    text-transform: uppercase;
    color: #ffa500;
    height: 5% !important;
    font-size: 1.1em; 
    font-weight: 500;
    padding: 2%;
} 

#message-viewport{
    overflow-y: scroll;
}

#message-section {
    position: fixed;
    bottom: 4%;
}

#loading-display{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    padding-top: -1%;
}

#message-input{
    border: 1px solid #ffa500;
}
#message-input:focus{
    border: 2px solid #ffa500;
}

.material-icons.md-14{
    font-size: 14px;
    top: 4px;
}