html, body, .container-fluid, .row {
    height: 100%;
}

.sidebar {
    background: #2c3e50;
    color: #fff;
    font-size: 15px;    
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
}

.sidebar li {
    width: 100%;
    border-bottom: 1px solid #636366;
}


