<div class="container-fluid">
    <div class="row" style="margin-top: 4%;">
        <div ng-include="'/public/components/_navbar/navbar.html'"></div>
        <div class="col-md-6 col-sm-12 col-md-offset-3">
            <div class="well">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="text-center">Payment</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12 col-sm-12" id="subscription" ng-if="!user.is_subscribed">
                            <h5>For just £10 you can pay for the ability to add new rooms</h5>
                            <div class="alert hide" id="subscription-message">
                                {{ subscriptionMessage }}
                            </div>
                            <form stripe-form="createSubscription">
                                <div class="form-group">
                                    <label>Card Number</label>
                                    <input class="form-control" ng-model="number" placeholder="Card Number" payments-format="card" />
                                </div>
                                <div class="form-group">
                                    <label>Card Expiration Date</label>
                                    <input class="form-control" ng-model="expiry" placeholder="Expiration" payments-format="expiry" />
                                </div>
                                <div class="form-group">
                                    <label>Security Number</label>
                                    <input class="form-control" ng-model="cvc" placeholder="CVC" payments-format="cvc" />
                                </div>
                                <div ng-if="checkoutForm.card.$invalid">
                                    Error: invalid card number!
                                </div>
                                <button class="btn btn-default pull-right" type="submit">Submit</button>
                            </form>
                        </div>
                        <div class="col-md-12 col-sm-12" id="subscription" ng-if="user.is_subscribed">
                            <div>
                                <h4>Thank you for taking the time to to create a payment for the site.</h3>
                                <p>
                                    I hope you enjoy the ability to create chatrooms.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    Use the card details: 4242 4242 4242 4242 and CVC 999 with any valid expiry date to create a test payment.
                </p>
            </div>
        </div>
    </div>
</div>