<div>
    User
    <div ng-repeat="user in users">
        <div style="margin-left: 20px;">
            Username: {{ user.username }} <br/>
            First Name: {{ user.first_name }} <br/>
            Last Name: {{ user.last_name }} <br/>
            Is Staff: {{ user.is_staff }} <br/>
            Joined: {{ user.date_joined }} <br/>
            <hr/>
        </div>
    </div>
    <br/>

    <div ng-model="user">
        <div style="margin-left: 20px;">
            Username: {{ user.username }} <br/>
            First Name: {{ user.first_name }} <br/>
            Last Name: {{ user.last_name }} <br/>
            Is Staff: {{ user.is_staff }} <br/>
            Joined: {{ user.date_joined }} <br/>
            <hr/>
        </div>
    </div>
    <br/>

</div>