<div class="row" style="margin-top: 5%;">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="register-account">
        <form name="PasswordResetForm" data-ng-submit="resetPassword()" novalidate>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" data-ng-model="new_password1" required>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" name="password" class="form-control" data-ng-model="new_password2" required>
            </div>

            <p class="alert alert-danger hide" id="error-messages">{{ errorMessage }}</p>
            <button type="submit" class="btn btn-primary" data-ng-disabled="PasswordResetForm.$invalid">Reset</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>