<div class="contaianer-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12" id="register-account">
            <h3 class="text-center">Change Password</h3>
            <form name="PasswordResetForm" data-ng-submit="resetPassword()" novalidate>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" data-ng-model="new_password1" required>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" name="password" class="form-control" data-ng-model="new_password2" required>
                </div>

                <p class="alert alert-danger hide" id="error-messages">{{ errorMessage }}</p>
                <button type="submit" class="btn btn-primary pull-right" data-ng-disabled="PasswordResetForm.$invalid">Reset</button>
            </form>
        </div>
    </div>
</div>