<div style="margin-top: 5%;">
    <div class="container">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                   Profile Picture
                </div>
                <div class="panel-body">
                    Look for file upload/ image crop packages
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Username
                </div>
                <div class="panel-body">
                    <div class="col-md-12" id="profile">
                        <form name="ProfileForm" data-ng-submit="updateProfile()" novalidate>
                            <div class="form-group">
                                <label>Email Address</label>
                                <input type="text" name="name" class="form-control" data-ng-model="user.username" required>
                                <p data-ng-show="ProfileForm.name.$pristine" class="help-block">Your username is required</p>
                            </div>
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" name="first_name" class="form-control" data-ng-model="user.first_name">
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" name="last_name" class="form-control" data-ng-model="user.last_name">
                            </div>
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text" name="phone_number" class="form-control" data-ng-model="user.phone_number">
                            </div>
                            <button type="submit" class="btn btn-primary"><span class="fa fa-cloud"></span> Update</button>
                            <button type="submit" class="btn btn-primary pull-right" ui-sref="rooms"><span class="fa fa-reply"></span> Back to Rooms</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Subscription Details
                </div>
                <div class="panel-body">
                    <div class="col-md-12" id="subscription">
                        Subscription details/links to go here
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>