<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Change Profile Picture</h3>
            <button class="btn btn-primary" ngf-select ng-model="picFile" accept="image/*">
                Select Picture
            </button>
            <button class="btn btn-primary pull-right" ng-class="{disabled: !picFile}" ng-click="upload(croppedProfileImage, picFile.name)">
                Submit
            </button>
            <div class="col-md-12 col-sm-12" style="margin: 3%;">
                <div class="col-md-6 col-sm-12">
                    <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea" style="width: 100%;">
                        <ui-cropper image="picFile" area-type="circle" chargement="'Loading'" result-image="croppedProfileImage" canvas-scalemode="true"></ui-cropper>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div>
                        <img ng-src="{{croppedProfileImage}}" width="100%" height="100%" style="border-radius: 50%;" />
                    </div>
                </div>
                <span ng-show="result">Upload Successfull</span>
            </div>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </div>
    </div>
</div>